<!--編集.詳細と戻る-->
<div class = "body_edit">
  <div class = "primary">
    <h2>Edit</h2>
  </div>
   <div class="succes_box">
    <p class="succes_message">
      <%= flash[:notice] %>
    </p>
  </div>
  <% if @book1.errors.any? %>
    <div class="error_box">
      <div class ="error_text_box">
        <p class="error_text">error!</p>
      </div>
      <ul class="error">
        <% @book1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="sub_edit">
    <%= form_with model: @book do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title %>
      <h4>Body</h4>
       <%= f.text_area :body %>
      <%= f.submit 'Update Book' %>
    <% end %>
    <span class="button">
      <%= link_to "Show", book_path(@book.id) %>
    </span>
    <spam class ="button">
      <a href="/books">Back</a>
    </span>
  </div>
</div>
